<link rel="import" href="../polymer/polymer-element.html">
<link href="https://fonts.googleapis.com/css?family=Raleway&display=swap" rel="stylesheet">

<dom-module id="my-vic-prueba">
  <template>
    <style>
      :host {
        display: block;
      }
      .info {
        color: black;
        background: #1BABC2;
        border-radius: 7px;
        border: 2px #1BABC2 double;
        height: 20px; 
        width: 30%;
        text-align: center;
        font-family: 'Raleway', sans-serif;
      }
      .btninfo{
        height: 25px;
        width: 20%;
        border-radius: 7px;
        border: 2px grey double;

      }
    </style>
    <h2>Hello [[prop1]]!</h2>
    <input class="info" type="text" value="{{saludo::input}}" placeholder="Tu nombre">
    <input class="info" type="text" value="{{nombre::input}}" placeholder="tu apellido">
    <input class="info" type="text" value="{{ultimo::input}}" placeholder="nuevo elemento al final del array">
    <button class="btninfo" on-click='Agregar'>Enviar</button>
    <h1>[[completo]]</h1>
  </template>
  </template>

  <script>
    /**
     * `my-vic-prueba`
     * 
     *
     * @customElement
     * @polymer
     * @demo demo/index.html
     */
    class MyVicPrueba extends Polymer.Element {
      static get is() { return 'my-vic-prueba'; }
      static get properties() {
        return {
          prop1: {
            type: String,
            value: 'my-vic-prueba'
          }
        };
      }
      static get properties() {
        return {
          prop1: {
            type: Array,
            value: [1,2,3]
          },
          ultimo:{
            type:String,
            notify: true // upward
          },
          saludo: {
            type: String,
            notify: true //upward
          },
          nombre: {
            type: String,
            notify: true
          },
          completo: {
            type: String //downward
          },
          address: {
            type: Object,
            value:{
              street: "129 st"
            }
          }, 
          myArray: {  /* así se declara un array en cells */
            type: Array,
            value: function() {
              return [];
            }
          },
          myObject: {  /* así se declara un objeto en cells */
            type: Object,
            value: function() {
              return {};
            }
          }


        };
      }


      constructor(){
        super();
        console.log("1. desde constructor");
      }

      Agregar(){
        console.log(this.ultimo);
        if(Number(this.ultimo) || Number(this.ultimo)===0){
          this.push('prop1', Number(this.ultimo));
        }else{
          alert("Escriba un numero por favor");
          throw new Error("Solo puede escribir numeros");
        }
      }

      connectedCallback(){
        super.connectedCallback();
        console.log("3. Elemento conectado al DOM");
      }

      ready(){
        super.ready();
        this.prop1[2]=5;
        this.push('prop1', 4);
        console.log(this.prop1);
        console.log("2. desde ready " + this.saludo);
        console.log("2. desde ready " + this.prop1);
        console.log("2. completo "    + this.completo);
      } 

      static get observers(){
        return [
          'fullNameCompexObserver(saludo, nombre)'
        ]
      }


      disconnectedCallback(){
        super.disconnectedCallback();
        console.log("Elemento desconectado del DOM");
      }

      fullNameCompexObserver(saludo, nombre){
        if(saludo || nombre){
          if(!saludo){
            this.set('nombre',nombre)
            this.set('saludo','');
          }
          if(!nombre){
            this.set('nombre','');
            this.set('saludo',saludo);
          }
          this.completo= this.saludo+" "+this.nombre;
        }

        if(!saludo && !nombre){
            this.set('completo','');
          }
        console.log("desde observer complejo "+saludo + " "+nombre);
        /**
        * Fired when click in a button
        * @event my-event
        */
        this.dispatchEvent(new CustomEvent('my-event', {
          bubbles: true,
          composed: true,
          detail: { id: this }
        }));
        
      }

      
    }

    window.customElements.define(MyVicPrueba.is, MyVicPrueba);
  </script>
</dom-module>
